# Operating system files
.DS_Store
Thumbs.db

# Editor and IDE files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Terraform local files
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
# Environment files
.env
.env.*
!.env.example
